html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  background-color: rgb(251, 242, 242);
  margin: 0 auto;
  width: 80%;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding-bottom: 2rem;
  background-color: white;
  color: black;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.line {
  display: block;
  margin: 0 auto;
  height: 1rem;
  width: 70%;
  background-color: aliceblue;
}

.title {
  font-family: 'Climate Crisis', cursive;
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}

/* Mem start */

.mem {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  
}

.mem_item {
  /* border: 1px solid red; */
}

.mem_string {
  display: flex;
  justify-content: space-between;
}

.mem_title {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  font-family:'Climate Crisis', cursive;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
}

.mem_icon {
  width: 1.5rem;
  height: 1.5rem; 
}

.mem_input {
  appearance: none;
}

.mem_input:checked + .mem_img {
  display: block;
}


.mem_img {
  display: none;
  width: 70%;
  padding: 1rem;
  margin: 0 auto;
}

  /*Mem end */