html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  background-color: white;
  margin: 0 auto;
  width: 80%;
}

.wrapper {
  max-width: 1260px;
  margin: 0 auto;
  background-color: white;
  color: black;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.line {
  display: block;
  height: 1rem;
  max-width: 100%;
  background-color: aliceblue;
}

.title {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}

/* Mem start */

.mem {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.mem_item {
  border: 1px solid red;
}

.mem_title {
  display: block;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
}

.mem_input {
  appearance: none;
}

.mem_input:checked + .mem_img {
  display: block;
}


.mem_img {
  display: none;
  padding: 1rem;
}

  /*Mem end */